.nav__wrapper {
  padding: 3vw 5vw;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #000;
  margin-left: 2rem;
  text-decoration: none;
}

.nav__button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background: none;
  border-radius: 5px;
  margin-left: 2rem;
  cursor: pointer;
}
